.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 100em 323.8em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.delay:before {
    background-position: 0em 0em;
    width: 100em;
    height: 100em;
}

.icon.leo-1:before {
    background-position: 0em -100em;
    width: 69.951171875em;
    height: 100em;
}

.icon.leo-2:before {
    background-position: 0em -200em;
    width: 59.529999999999994em;
    height: 84.19em;
}

.icon.logo:before {
    background-position: 0em -284.2em;
    width: 5em;
    height: 5em;
}

.icon.menu:before {
    background-position: 0em -289.2em;
    width: 5em;
    height: 5em;
}

.icon.random-all:before {
    background-position: 0em -294.2em;
    width: 5em;
    height: 5em;
}

.icon.random-one:before {
    background-position: 0em -299.2em;
    width: 5em;
    height: 5em;
}

.icon.repeat:before {
    background-position: 0em -304.2em;
    width: 9.6em;
    height: 9.6em;
}

.icon.volume:before {
    background-position: 0em -313.8em;
    width: 10em;
    height: 10em;
}

