.device {
  
  &.test {
    $colors: red, orange, yellow, green, blue, purple;

    @for $i from 1 through length($colors) {
        &:nth-child(#{length($colors)}n+#{$i}) {
            background: nth($colors, $i)
        }
    }

    padding: 10px 0;

    text-align: center;
  }
}