<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.swayer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Swayer</name>
    <description>
        iOS Application
    </description>
    <author email="hello@andreykeske.com" href="http://andreykeske.com">
        Andrey Keske
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
