.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 100em 588.3em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.+:before {
    background-position: 0em 0em;
    width: 36.1em;
    height: 36.1em;
}

.icon.delay:before {
    background-position: 0em -36.1em;
    width: 100em;
    height: 100em;
}

.icon.leo-1:before {
    background-position: 0em -136.1em;
    width: 69.951171875em;
    height: 100em;
}

.icon.leo-2:before {
    background-position: 0em -236.1em;
    width: 59.529999999999994em;
    height: 84.19em;
}

.icon.lock:before {
    background-position: 0em -320.3em;
    width: 36.1em;
    height: 36em;
}

.icon.logo:before {
    background-position: 0em -356.3em;
    width: 5em;
    height: 5em;
}

.icon.menu:before {
    background-position: 0em -361.3em;
    width: 36.1em;
    height: 36.1em;
}

.icon.random-all:before {
    background-position: 0em -397.4em;
    width: 5em;
    height: 5em;
}

.icon.random-one:before {
    background-position: 0em -402.4em;
    width: 5em;
    height: 5em;
}

.icon.random-one-black:before {
    background-position: 0em -407.4em;
    width: 59.529999999999994em;
    height: 84.19em;
}

.icon.repeat:before {
    background-position: 0em -491.6em;
    width: 9.6em;
    height: 9.6em;
}

.icon.skills-icon:before {
    background-position: 0em -501.2em;
    width: 36.1em;
    height: 36.1em;
}

.icon.skills-menu:before {
    background-position: 0em -537.3em;
    width: 5em;
    height: 5em;
}

.icon.unlock:before {
    background-position: 0em -542.3em;
    width: 36em;
    height: 36em;
}

.icon.volume:before {
    background-position: 0em -578.3em;
    width: 10em;
    height: 10em;
}

