// Vars
$icon-radius: 4vw;
$icon-size: 12.6666666667vw;
$icon-margin: 2vw;

@mixin icon($name) {
  background: url(../svg/ui/#{$name}.svg);
  background-size: $icon-size $icon-size !important;
}

// Dock
.dock {

  // Common style for icon
  //
  // Add application, application and menu
  .dock-icon {
    border-radius: $icon-radius;
    text-align: center;

    width: $icon-size; 
    height: $icon-size;

    margin: $icon-margin;
  
    // Show indicate for active device
    &.show-device-indicator {

      .dock-icon-active-dot {
        display: inline-block;
      }
    }
  
    // Add device
    &.dock-add-device {
      @include icon('+');
    }

    // Device icons
    &.dock-device {
      overflow: hidden;

      background-size: $icon-size $icon-size !important;

      // Skills device
      &.dock-device-skills {
        @include device-skills-icon();
      }

      // Swayer device
      &.dock-device-swayer {
        @include device-swayer-icon();
      }
    }

    // Indicate active device
    .dock-icon-active-dot {
      $size: 5px;

      @include circle();
      
      // Show when device is active
      // Parent should has class `active`
      display: none;

      width: $size;
      height: $size;

      background: red;

      margin-top: $icon-size + ($icon-margin / 2);
    }
  }

  // Lock icon
  .dock-lock {
    background: blue;
  }

  // Menu icon
  .dock-menu {
    @include icon('menu');
    border: 1px solid rgba(0, 0, 0, .1);
  }
}