// Vars
$icon-radius: 4vw;
$icon-size: 12.6666666667vw;
$icon-margin: 2vw;

// Dock
.dock {

  // Common style for icon
  //
  // Add application, application and menu
  .dock-icon {
    border-radius: $icon-radius;
    text-align: center;

    width: $icon-size; 
    height: $icon-size;

    margin: $icon-margin;
  
    // Show indicate for active device
    &.show-device-indicator {

      .dock-icon-active-dot {
        display: inline-block;
      }
    }

    // Add device
    &.dock-add-device {
      border: 1px solid #CCC;
    }

    // Device icons
    &.dock-device {
      
      // Skills device
      &.dock-device-skills {
        background: red;
      }

      // XY synth
      &.dock-device-xy-synth {
        background: green;
      }

      // Piano
      &.dock-device-piano {
        background: #000;
      }
    }

    // Indicate active device
    .dock-icon-active-dot {
      $size: 5px;

      @include circle();
      
      // Show when device is active
      // Parent should has class `active`
      display: none;

      width: $size;
      height: $size;

      background: red;

      margin-top: $icon-size + ($icon-margin / 2);
    }
  }

  // Lock icon
  .dock-lock {
    background: blue;
  }

  // Menu icon
  .dock-menu {
    background: blue;
  }
}