// Vars
$workspace-height: 87%;

// Application vertical parts
body {
  @include fullscreen();
  
  // Workspace height size
  .workspace {
    height: $workspace-height;
  }
  
  // Dock height size
  .dock {
    height: 100 - $workspace-height;
  }
}