// Skills device menu
.device-menu {
  
  // Customize pads grid
  .customize-pads-grid {
    
    .customize-cols, .customize-rows {

      padding: 20vw 0;

      p.digit {
        font-size: 48px;
      }
      
      p.col, p.row {
        font-size: 12px;
      }
    }
  }
}