// Grid
@for $i from 1 through 12 {
    .col-#{$i} {
        @extend .col-xs-#{$i};
        @extend .col-sm-#{$i};
        @extend .col-md-#{$i};
        @extend .col-lg-#{$i};
    }
}

// Circle element
@mixin circle() {
  border-radius: 100%;
}

// Fullscreen element
@mixin fullscreen() {
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;

  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  width: 100%;
  height: 100%;
}

// Blur 
@mixin blur($radis) {
  -webkit-filter: blur($radis); 
  -moz-filter: blur($radis); 
  -o-filter: blur($radis); 
  -ms-filter: blur($radis); 
  filter: blur($radis);
}

// Show element when element has class `js-show`
@mixin js-show() {
  display: none;

  &.js-show {
    display: block;
  }
}